[project]
name = "{{project_slug}}"
description = "{{project_description}}"
urls = { Homepage = "{{repo_url}}" }
authors = [
    {name = "{{author}}", email = "{{author_email}}"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
readme = { file = "README.md", content-type = "text/markdown" }
license = {text = "{{license}}"}

requires-python = ">={{python_version}}"
dynamic = ["version"]

dependencies = []

[project.optional-dependencies]
dev = [
    "black>=23.7.0",
    "isort>=5.10.1",
    "flake8>=4.0.1",
    "Flake8-pyproject>=1.1.0",
]

[build-system]
requires = ["setuptools>=68.0", "setuptools_scm[toml]>=7.1"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools_scm]
version_scheme = "no-guess-dev"

[tool.flake8]
ignore = [
# Ignored by black
    'E203', 'E266', 'E501', 'W503',
# Ignored to conform to PEP257
    'D203', 'D212', 'D213', 'D214', 'D215', 'D404', 'D405', 'D406', 'D407', 'D408', 'D409', 'D410', 'D411', 'D413', 'D415', 'D416', 'D417',
]
# line length is intentionally set to 88 here because black uses Bugbear
# See https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length for more details
max-line-length = "88"
max-complexity = "18"

[tool.isort]
py_version = 3
profile = 'black'
known_first_party = ['{{project_slug}}']